.secret
.env
.env.test
.vscode
build
node_modules
*.log
*.zip

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
